.view{
    display: flex;
    background-color: #ffe8c2;
}

.container {
    width: 80vw;
}

.header {
    padding: 10px;
}

.rows {
    padding: 20px;
    background-color: #ffe8c2;
}

.cols{
    padding: 20px;
    background-color: #ffe8c2;
}

.createbutton {
    background-color: white;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    color: #251304;
    border: none;
    margin-left: 45%;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}